<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.infinitumimageryllc.infinitum_live_creator_network">
    
    <!-- Required Permissions -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    
    <!-- Optional Permissions (not used but declared for transparency) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" android:required="false"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" android:required="false"/>
    <uses-permission android:name="android.permission.CAMERA" android:required="false"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:required="false"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:required="false" android:maxSdkVersion="32"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" android:required="false"/>
    <uses-permission android:name="android.permission.READ_CONTACTS" android:required="false"/>
    <uses-permission android:name="android.permission.BLUETOOTH" android:required="false"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:required="false"/>
    
    <application
        android:label="Infinitum LIVE Creator Network"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="false"
        android:requestLegacyExternalStorage="false"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:supportsRtl="true"
        android:theme="@style/LaunchTheme">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        
        <!-- App Store Metadata -->
        <meta-data
            android:name="com.infinitumimageryllc.app.name"
            android:value="Infinitum LIVE Creator Network" />
        <meta-data
            android:name="com.infinitumimageryllc.app.company"
            android:value="Infinitum Imagery LLC" />
        <meta-data
            android:name="com.infinitumimageryllc.app.website"
            android:value="https://infinitumlive.com" />
        <meta-data
            android:name="com.infinitumimageryllc.app.support_email"
            android:value="support@infinitumlive.com" />
        <meta-data
            android:name="com.infinitumimageryllc.app.privacy_policy"
            android:value="https://infinitumlive.com/privacy" />
        <meta-data
            android:name="com.infinitumimageryllc.app.terms_of_service"
            android:value="https://infinitumlive.com/terms" />
    </application>
</manifest>

